<div class="home-page-wrapper">
    <div class="image-wrapper"
        style="background-image: url(<%= image_path 'home_bg.jpeg' %>); height: 100vh;">
        <div class="image-overlay bg-black bg-opacity-60 h-full w-full flex items-center justify-center">
            <div class="bg-black bg-opacity-75 w-2/12" style="padding: 60px 68px 40px; min-width: 500px;">
                <h1 class="text-3xl text-white mb-12 font-bold"> Sign in </h1>

                <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "authentication-form" }) do |f| %>
                    <%= render "devise/shared/error_messages", resource: resource %>
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email', required: true %>
                    <%= f.password_field :password, autocomplete: "current-password", placeholder: 'Password', required: true %>
                    <%= f.submit "Sign in" %>
                    <% if devise_mapping.rememberable? %>
                        <div class="flex items-end justify-between mt-3" style="color: #b3b3b3;">
                            <div class="flex items-center">
                                <%= f.check_box :remember_me, class: "" %>
                                <%= f.label :remember_me, class: 'ml-1 text-sm' %>
                            </div>

                            <p class="text-sm"> Need Help?</p>
                        </div>
                    <% end %>

                    <p class="authentication-notice"> <span class="authentication-notice-silent"> New to Netflix?</span> <span class="authentication-notice-loud"> <%= link_to 'Sign up now', new_user_registration_path %></span> </p>
                    <p class="authentication-protection-notice"> This page is protected by Google reCAPTCHA to ensure you're not a bot. <%= link_to 'Learn more.', "#", class: "authentication-protection-url" %> </p>
                <% end %>
            </div>
        </div>
    </div>
</div>
